.container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}
.wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
 
}
.column_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
