.form--login{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    border: #cacccd 1px solid;
    background: lightgray;
    width: 70%;
    height: 50%;
}
.form--login__input{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;

}
.form--login__error--text{
    word-break: break-all;
    margin-left: 1rem;
}
.form--login__functions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
