.header {
  background: #284262;
  
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:1.6rem 0;
}

.header__title {
  color: white;
  text-decoration: none;

}
