.custom-select {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    height: 40%;
    padding: 1rem;
    margin-left: 1rem;
    border: none;
    text-decoration: none;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}